<div class="container-fluid">
  <h1>Login into account</h1>

  <h6>{{ userLoginForm.value | json }}</h6>

  <hr>
  <br>

  <!-- <h6>{{ scrumUserModel | json }}</h6> -->
  <h5>{{ feedback }}</h5>
  <form #userLoginForm="ngForm" (ngSubmit)=onLoginSubmit()>


        <div class="form-group">
              <label>Email</label>
              <input type="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-invalid]="email.invalid && email.touched" #email='ngModel' name="email"
                class="form-control" [(ngModel)]='scrumUserLoginData.email'>
                <div *ngIf="email.errors && (email.invalid || email.untouched)">
                <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is required</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Email must include @domain</small>
                </div>
        </div>





    <div class="form-group">
       <label>Password</label>
       <input required type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" [class.is-invalid]="password.invalid && password.touched"
        name="password" #password='ngModel' class="form-control"
         [(ngModel)]='scrumUserLoginData.password'>
         <div *ngIf="password.errors && (password.invalid || password.untouched)">
             <small [class.d-none]="password.valid || password.untouched" class="text-danger">Password is required</small>
             <small class="text-danger" *ngIf="password.errors.pattern">
               Password should be at least 8 characters long and should contain one number, one character and one special character
 	           </small>

         </div>
   </div>


    <div class="form-group">
      <label>Project Name</label>
      <input type="text" required name="projname" [class.is-invalid]="projectname.invalid && projectname.touched"
        #projectname='ngModel' class="form-control" [(ngModel)]='scrumUserLoginData.projname'>
      <small [class.d-none]="projectname.valid || projectname.untouched" class="text-danger">Project Name is
        required</small>
    </div>



      <button class="btn btn-primary mr-5">Login</button>
      <button class="btn btn-dark" routerLink ='/signup'>Don't have an account? signup here</button>




  </form>
</div>
